{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "warn",
    "default-case": "error",
    "no-alert": "warn",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-imports": "error",
    "no-empty": "error",
    "no-unreachable": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-debugger": "error",
    "no-await-in-loop": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
